version: '3.7'
services:
  datagora_datatlas_front:
    build:
      context: .
      dockerfile: Dockerfile
      #target: dev
    restart: always
    ports:
      - 80:80
    #volumes:
      #- ./src:/app/src
      #- ./public:/app/public
      #- ./.env:/app/.env
      #- ./test:/usr/share/nginx/html/static/js
    #command: npm start
    stdin_open: true
    environment:
      - REACT_APP_BACKEND_URL='http://localhost:8558'
