@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.gl-logo img {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
}

/*TODO FIX hide trough kepler injections*/
.map-control, side-panel--container {
  display: none;
}


/**/
.PointSidePanel {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 99;
  padding: 15px;
  }


.FilterSidePanel {
  position: absolute;
  background: white;
  top: 0;
  width: 500px;
  height: 500px;
}


.filters {
  position: absolute;
  top: 80px;
  right: 30px;
  display: flex;
  flex-direction: column;
}


.filter-parent ul {
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

.filter-parent .active {
  max-height: 1000px;
  overflow: auto;
  transition: all ease-in-out 0.2s;
}

.filter-parent .filter-child {
  display: flex;
  justify-content: right;
}

.filter-parent .filter-child ul {
  max-height: max-content;
  overflow: auto;
  display: flex;
}


.filters ul {
  padding: 0;
}

.filters ul li {
  list-style: none;
}

.filters .filter-child button {
  font-size: 10px;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 10px 0;
}
.filters button {
  font-size: 15px;
  color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  border: none;
  margin: 0px 0px 5px 0px;
  background-color: #d91f16;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  font-weight: 400;
}


.filters button:hover {
  background-color: #ff241a;
  transition: all ease-in-out 0.2s;
}


.button {
  font-size: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 0px 0px 5px 0px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  font-weight: 400;
}
.button:hover {
  transition: all ease-in-out 0.2s;
}
