 /* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
/*
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.top-left-logo img {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 200px;
  pointer-events: none;
}


.bottom-left-logo img {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 200px;
  pointer-events: none;
}

/*TODO FIX hide trough kepler injections*/
/* .map-control, side-panel--container {
  display: none !important;
} */



/********************** CUSTOM MODAL **************************/
.modal {
  position: absolute;
  top: 0;
  background-color: red;
  height: 100%;
  width: 100%;
}


/********************** POI SIDE PANEL **************************/
/* .PointSidePanel {
  position: absolute;
  top: 0;
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 99;
  overflow-x: hidden;
  box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.4);
  animation: 0.2s linear 0s running slidein;
  background-color: #fbfbfb;
  }

  @keyframes slidein {
    from { width: 0; }
    to   { width: 30%; }
  }

  @keyframes slidedown {
    from { width: 0; }
    to   { height: 50px; }
  } */
  /********************** FILTERS SIDE PANEL *********************/
/* .FilterSidePanel {
  position: absolute;
  background: white;
  top: 0;
  width: 500px;
  height: 500px;
} */


/* .filters {
  position: absolute;
  top: 85px;
  right: 30px;
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: 84vh;
  overflow: auto;
  width: 30vw;
  padding-right: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none;  /* Firefox */
/*} */

/* .filters::-webkit-scrollbar {
  display: none;
} */

/* .filter-parent {
  /*TODO Reduice the height gap in another cleaner manner */
  /* margin-bottom: -15px;
  list-style: none;
} */

/* .filter-parent ul {
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

.filter-parent .btn,.crowdsourcing button {
  max-height: 1000px;
  overflow: auto;
  transition: all ease-in-out 0.2s;
  overflow-y: hidden;
  border-radius: 3px;
  font-size: 11px !important;
  margin: 2px 0 0 0;
  padding : 10px 10px 10px 10px;
  text-transform: uppercase;
  text-align: left;
}


.filter-parent li button {
 opacity: 0.5;
 border-radius: 5px 5px 5px 5px;
 margin-top: 5px;
}

.filter-parent .selected {
  opacity: 1;
}

.filters ul {
  padding: 20px;
  margin: 0 0 10px 0;
} */

/* .filters ul li {
  list-style: none;
} */

/* .filters .filter-child button {
  font-size: 10px;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 5px 0;
  border-radius: 5px;
  text-align: left;
} */

/* filters .filter-child button.active span {
  transform: rotate(90deg) !important;
}

.filters .filter-child .enable {
  opacity: 0.7;
  transition: all ease-in-out 0.2s;
} */

/* .filters .filter-sub-child button{
  padding: 8px 10px;
  margin-bottom: 3px;
  margin-right: 0;
}

.filters .filter-sub-child button.active{
  opacity: 0.5;
}



.filters button:hover {
  transition: all ease-in-out 0.2s;
}

.crowdsourcing {
  display: flex;
  flex-direction: column;
}

.crowdsourcing button {
  margin: 5px;
} */

/* .btn-parent {
  display: flex;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 15px;
  width: max-content;
}

.btn-parent p {
  padding-right: 10px;
} */

/* .btn-child {
  width: max-content;
  padding-left: 12px;
  border-radius: 7px;
  margin-bottom: 5px;
}

.btn-child button {
  margin: 0;
} */

/* button {
  /*font-size: 15px;*/
  /* color: white;
  padding: 15px 10px 15px 10px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  margin: 0;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  font-weight: 400;
  width: 100%; */
/*} */

/* .button:hover {
  transition: all ease-in-out 0.2s;
  background-color: #172a3b;
} */

/* .instance-config {
  position: absolute;
  top: 44px;
  background: white;
  padding: 15px;
  left: 30%;
} */
