/* .map-control, .side-panel--container, .mapbox-attribution-container, .mapboxgl-ctrl {
  display: none !important;
} */

/********************** CUSTOM MODAL **************************/
/* .modal {
  position: absolute;
  top: 0;
  background-color: red;
  height: 100%;
  width: 100%;
} */

/********************** FILTERS SIDE PANEL *********************/
/* .FilterSidePanel {
  position: absolute;
  background: white;
  top: 0;
  width: 500px;
  height: 500px;
}

.filter.filter-parent:last-of-type {
  margin-bottom: 15px !important;
}

.filter-parent .list {
  padding: 0 0 7px 0;
}

.filter-parent ul {
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
}

.filter-parent .btn,
.crowdsourcing button {
  max-height: 1000px;
  overflow: auto;
  transition: all ease-in-out 0.2s;
  overflow-y: hidden;
  border-radius: 3px;
  font-size: 11px !important;
  margin: 2px 0 0 0;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  text-align: left;
}

.filter-parent li button {
  opacity: 0.5;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
}

.filter-parent .selected {
  opacity: 1;
}

.filters ul {
  padding: 0;
  margin: 0 0 5px;
}

.filters ul li {
  list-style: none;
}

.filters ul .filter:last-child {
  margin-bottom: 15px;
}

.filters .filter-child button {
  font-size: 10px;
  padding: 10px 10px 10px 10px;
  margin: 0 10px 5px 0;
  border-radius: 5px;
  text-align: left;
}

filters .filter-child button.active span {
  transform: rotate(90deg) !important;
}

.filters .filter-child .enable {
  opacity: 0.7;
  transition: all ease-in-out 0.2s;
}

.filters .filter-sub-child button {
  padding: 8px 10px;
  margin-bottom: 3px;
  margin-right: 0;
}

.filters .filter-sub-child button.active {
  opacity: 0.5;
}

.filters button:hover {
  transition: all ease-in-out 0.2s;
}

.btn-parent {
  display: flex;
  border-radius: 5px;
  margin-bottom: 0;
  font-size: 15px;
  width: max-content;
}

.btn-parent p {
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 40px;
  text-align: center;
  color: white;
  background-color: inherit;
}

.btn-child {
  width: max-content;
  padding-left: 12px;
  border-radius: 7px;
  margin-bottom: 5px;
}

.btn-child button {
  margin: 0;
}

button {
  font-size: 16px;
  color: white;
  padding: 16px 16px 16px 10px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  margin: 0;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  font-weight: 400;
  width: 100%;
  text-transform: capitalize;
  letter-spacing: 0.75px;
}

.btn-parent button:hover,
.crowdsourcing button:hover,
.btn-parent p:hover,
.filter-parent .btn:hover {
  cursor: pointer;
  filter: brightness(0.6);
  transition: all ease-in-out 0.2s;
} */
